* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
	background: url('images/tile.jpg') fixed center;
}

.container {
    max-width: 480px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    width: 100%;
    height: auto;
    background-color: #245875;
    padding: 10px 0 10px 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#logo {
    margin: 0 16px 0 6px;
    width: 163px;
    height: 35px;
}

.search {
    width: auto;
    position: relative;
}

#search-field {
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    background: #123D56 !important;
    outline: none;
    font-family: Tahoma;
    padding: 6px 37px 6px 8px;
    font-size: 16px;
    width: 100%;
}

#search-field:focus {
    color: #eee;
}

#submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 100%;
    cursor: pointer;
    border: none;
    background: url('images/search.png') 50% 50% no-repeat;
    opacity: 0.5;
}

#submit:hover {
    opacity: 0.9;
}

#login {
    margin: 0 16px;
    font-size: 14px;
    border: 2px solid #245875;
    padding: 6px;
    cursor: pointer;
    width: auto;
}

#login:hover {
    background: #4c0f77;
    border: 2px solid #aaa;
}

p, a, li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #245875;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

footer {
    flex: 0 0 auto;
    width: auto;
    min-height: 60px;
    height: auto;
    background-color: white;
    padding: 20px;
    color: #245875;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #245875;
}

#logo-bottom {
    width: 163px;
    height: 35px;
    background: url('images/logo-2.png') 50% 50% no-repeat;
    margin-bottom: 20px;
}

#reanima-menu {
    width: 100%;
    padding: 10px 0;
    border-top: 2px dashed #245875;
    border-bottom: 2px dashed #245875;
}

#reanima-menu > ul > li {
    margin-right: 20px;
}

#reanima-menu > ul > li:last-child {
    margin: 0;
}

#reanima-menu > ul > li > a {
    padding: 4px;
}

#reanima-menu > ul > li > a:hover {
    background: #245875;
    color: #fff;
}

.content-main {
    flex: 1 0 auto;
    width: auto;
    height: auto;
    background: white;
}

.banner-main {
    width: auto;
    min-height: 300px;
    background: url('images/image.png') 50% 50% no-repeat;
    background-size: 150%;
    background-color: #2C2720;
    position: relative;
}

#reanimate {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 69px;
    background: url('images/button.png') 50% 50% no-repeat;
}

.banner-projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding: 10px;
    padding-bottom: 0;
    
/*    display: none;*/
}

.banner-projects > div {
    margin-bottom: 10px;
}

.banner-mini {
    width: 99%;
    min-width: 360px;
    min-height: 300px;
    background-color: #070200;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid black;
    border-radius: 10px;
}

#banner-1 {
    background-image: url(images/1-banner.png);
    background-position: calc(50% + 5px);
}

#banner-2 {
    background-image: url(images/2-banner.png);
}

#banner-3 {
    background-image: url(images/3-banner.png);
}

#banner-4 {
    background-image: url(images/4-banner.png);
    background-position: calc(50% - 5px);
}

.social-sharing {
    width: 100%;
    height: auto;
}

.socials {
    margin-top: 20px;
}

.social-btn {
    width: 30px;
    height: 30px;
    background: #aaa;
}

.social-btn > a:hover {
    background: #245875;
    opacity: 0.2;
}

#vk {
    background: url('images/social/vk.png') 50% 50% no-repeat;
}

#fb {
    background: url('images/social/facebook.png') 50% 50% no-repeat;
}

#wa {
    background: url('images/social/whatsapp.png') 50% 50% no-repeat;
}

#tg {
    background: url('images/social/telegram.png') 50% 50% no-repeat;
}

#tw {
    background: url('images/social/twitter.png') 50% 50% no-repeat;
}

#main-popup {
    display: none;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#popup {
    background-color: #fff;
    color: #245875;
    position: relative;
    margin: 0 auto;
    top: 10%;
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #222;
}

#popup-close {
    cursor: pointer;
    font-weight: bold;
    opacity: 0.5;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#popup-close:hover {
    opacity: 0.8;
}

#login-form > input {
    border: none;
    border-bottom: 2px solid #245875;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
    opacity: 0.6;
}

#login-form > input[type=submit] {
    border: none;
    background-color: #245875;
    color: #fff;
    border-radius: 25px;
    padding: 10px 60px;
    font-size: 20px;
    opacity: 1.0
}

#login-button:hover {
    cursor: pointer;
}

/*
@media screen and (min-width: 569px) {
    .container {
        min-width: 90%;
    }
    
    .banner-main {
        min-height: 400px;
        background: url('images/image.png') 50% 15% no-repeat;
    }
    
     .banner-mini {
        margin: 10px 0;
        min-width: 320px;
        max-width: 500px;
    }
    
    .banner-projects {
        height: auto;
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
*/
